[Unit]
Description=Asus Touchpad Numpad Driver
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/asus-numpad
Restart=on-failure

[Install]
WantedBy=multi-user.target
